body {
    background-color: #9892DC;
}
@font-face{
    src: url("../src/fonts/BalooBhaina-Regular.ttf");
    font-family: Baloo Bhaina;
}
*{
    font-family: Baloo Bhaina;
    color: whitesmoke;
   
}
button{
    cursor: pointer;
}
button:focus{
    outline: none;
}
/*avatar container*/
.scroll-bg{
    background-color: rgba(104, 97, 181, 0.6);
    width: 50%;
    position: fixed;
    top: 0%;
    left: 50%;
    height: 100%;
}
.scroll-div{
    width: 80%;
    height: 82%;
    margin: auto;
    margin-top: 12%;
    overflow: hidden;
    overflow-y: scroll;
}
/*avatar cards*/
.card{
    border-radius: 20%;
    height: 100%;
    border: rgba(104, 97, 181, 0.1);
    margin: 2dvb 0 3dvb 2dvb;
    background-color: rgba(104, 97, 181, 0);
}
.cardbought{
    border-radius: 5dvb;
    height: 100%;
    margin: 2dvb 0 3dvb 2dvb;
    filter: brightness(100%);
}
.brig{
    border-radius: 5dvb;
    height: 100%;
    margin: 2dvb 0 3dvb 2dvb;
    filter: brightness(50%);
    
}
.container{
    margin:auto;
    width: 50%;
    padding: 10px;
}
/*scrollbar*/

::-webkit-scrollbar {
    width: 3dvb;

  }
  
  ::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 5dvb;
  }
  
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #BDAEE5;
    border-radius: 5dvb;
  }

/*close icon*/
ion-icon {
font-size: 5vw;
color: #F4F3FF;
}
.close-modal{
    background: none;
    border: 0;
    margin-right: 2vw;
    float: right;
    z-index: 13;
}

/*avatar price*/

.price{
    display: flex;
    align-items: center;
    width: 15vw;
}
.coinPrice{
    width: 30%;
    margin-top:  -40vh; 
    z-index: 12;
    margin-left: 3vw;
}
.avatarPrice{
    margin-top: -38vh;
    font-size: 3.3vw;
    z-index: 12;
}

/*actual avatar*/
#actualAvatar img{
    width: 30%;
    height: auto;
    align-items: center;
    position: fixed;
    top: 15%;
    left: 10%;
    border-radius: 5dvb;
}

/*coins*/

#coins{
    width: 30%;
    height: 5%;
    font-size: 4.5vw;
    display: flex;
    align-items: center;
}
#coinImg{
    width: 7vw;
    height: auto;
}
#amount{
    margin-left: 0.5vw;
    margin-bottom: -0.3vw;
}

/* modal buy */

.modalBuy {
    background-color: rgba(171, 63, 63, 0.6);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%) scale(0);
    width: 40%;
    max-width: 40%;
    padding: 1.2rem;
    border-radius: 3rem;
    height: 50%;
    transition: 200ms ease-in-out;
}
.modalBuy{
    transform: translate(-45%, -50%) scale(1);
}
ion-icon {
    font-size: 5vw;
    color: #F4F3FF;
}




.modal-head h1{
    position: fixed;
    text-align: center;
    left: 25%;
    font-size: 5vw
}


.modal-body{
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    
}
#btns{
    width: 80%;
    position: fixed;
    position: fixed;
    left: 10%;
    top: 70%;
    display: flex;
    justify-content: space-around;

}



#btns button{
	color: whitesmoke;
    font-size: 2.3vw;
	padding: 0em 1em;
    height:8vh;
    box-shadow: inset;
	border-radius: 2.5em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
#btnBuy{
	background: #E0A968;
    border: 2px solid #E0A968;
}
#btnExit{
    background: #9D1919;
    border: 2px solid #9D1919;
}


#btns button::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
#btnBuy::before{
    background: #F67035;
    box-shadow: 0 0 0 2px #F67035, 0 0.625em 0 0 none;
}
#btnExit::before{
    background: #5A0000;
    box-shadow: 0 0 0 2px #5A0000, 0 0.625em 0 0 none;
}
#btns button:hover {
	
	transform: translate(0, 0.25em);
}
#btnBuy:hover{
    background: #E0A968;
}
#btnExit:hover{
    background: #9D1919;
}
#btns button:hover::before {
  backdrop-filter: blur(5rem) !important;
	transform: translate3d(0, 0.5em, -1em);
}
#btnBuy:hover::before{
    box-shadow: 0 0 0 2px #F67035, 0 0.5em 0 0  none;
}
#btnExit:hover::before{
    box-shadow: 0 0 0 2px #5A0000, 0 0.5em 0 0  none;
}
#btns button.active {
	transform: translate(0em, 0.75em);
}
#btnBuy:active{
    background: #E0A968;
}
#btnExit:active{
    background: #9D1919;
}
#btns button:active::before {
	transform: translate3d(0, 0, -1em);
}
#btnBuy:active::before{
    box-shadow: 0 0 0 2px rgb(133, 133, 133), 0 0 #F67035;
}
#btnExit:active::before{
    box-shadow: 0 0 0 2px rgb(133, 133, 133), 0 0 #5A0000;
}



#avatar1 btn {
    width: 50%;
    height: 50%;
}

/*avatar-btns*/

.image-button{
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 5dvb;

}
.image-button:focus{
    outline: none;
}

/*overlay*/
#overlay{
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#overlay.active{
    pointer-events: all;
}
/*modalMoney*/

.modalNoMoney{
    background-color: rgba(171, 63, 63, 0.6);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%) scale(1);
    width: 40%;
    max-width: 40%;
    padding: 1.2rem;
    border-radius: 3rem;
    height: 50%;
    transition: 200ms ease-in-out;
}

.modal-headMoney h1{
    position: fixed;
    text-align: center;
    left: 0%;
    font-size: 4.3vw;
}
.close-modalMoney{
    position: fixed;
    background: none;
    width: 10vw;
    height: 10vh;
    border: 0;
    margin-right: 2vw;
    outline: none;
    cursor: pointer;
    z-index: 11;
    left: 90%;
    top: 2%;
}



.modal-bodyMoney{
    position: fixed;
    left: 55%;
    top: 85%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
}

.modal-bodyMoney h3{
    font-size: 2.3vw;
}

#noMoneyBtn{
    position: fixed;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 11;
    left: 80%;
    top: 1%;
}