body {
    background-image: black;
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face{
    src: url(fonts/BalooBhaina-Regular.ttf);
    font-family: Baloo Bhaina;
}

#container{
    width: 600px;
    height: 400px;
    background-color: #AD6545;
    border-radius: 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

