<<<<<<< HEAD
body {
    background-image: url("../src/img/landingPage/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
=======
>>>>>>> bfd6c10105d7334d7245b298adca4697e16dd6f1
