body {
    background-image: url("/interface/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: #F4F3FF;
}
@font-face{
    src: url(/interface/fonts/BalooBhaina-Regular.ttf);
    font-family: Baloo Bhaina;
}

input, textarea, select { font-family:inherit; }

#container{
    width: 600px;
    height: 750px;
    background-color: #AD6545;
    border-radius: 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title{
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    font-family: Baloo Bhaina;
    color: #F4F3FF;
    text-shadow: 2px 5px 2px rgb(131, 57, 11);
}

#user, #pw, #confPw, #mail{
    font-size: 30px;
    font-family: Baloo Bhaina;
    color: #F4F3FF;
}
fieldset{
    border: 0;
    margin-top: -70px;
    margin-left: 30px;
}
#user input, #pw input, #confPw input, #mail input{
    border: 0;
    background-color: #C6C9AB;
    color: #AD6545;
    width: 450px;
    height: 30px;
    padding-left: 15px;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#user input:focus, #pw input:focus, #confPw input:focus, #mail input:focus{
    outline: none;
}

#btnsSubmit{
    width: auto;
    margin: auto;
    margin-left: 50px;
    display: flex;
}
#btnsSubmit button{
    text-transform: uppercase;
    font-family: Baloo Bhaina;
    color: #F4F3FF;
    margin: 20px;
    border-radius: 30px;
    height:50px;
    box-shadow: inset;
    color: whitesmoke;
    font-size: 20px;
	padding: 0.25em 2em;
	background: #D4A266;
	border: 2px solid #D4A266;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		background 150ms cubic-bezier(0, 0, 0.58, 1);
}


#btnsSubmit button::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F67035;
	border-radius: inherit;
	box-shadow: 0 0 0 2px #F67035, 0 0.625em 0 0 none;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
#btnsSubmit button:hover {
	background: #D4A266;
	transform: translate(0, 0.25em);
}
#btnsSubmit button:hover::before {
	box-shadow: 0 0 0 2px #F67035, 0 0.5em 0 0  none;
  backdrop-filter: blur(5rem) !important;
	transform: translate3d(0, 0.5em, -1em);
}
#btnsSubmit button:active {
	background: #D4A266;
	transform: translate(0em, 0.75em);
}
#btnsSubmit button:active::before {
	box-shadow: 0 0 0 2px rgb(133, 133, 133), 0 0 #F67035;
	transform: translate3d(0, 0, -1em);
}