/*GAMIFICATION ELEMENTS*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@600&display=swap');

@font-face{
    src: url("../src/fonts/BalooBhaina-Regular.ttf");
    font-family: Baloo Bhaina;
}
* {
  box-sizing: border-box;
  font-family: Baloo Bhaina;
  color: whitesmoke;
}

:root {
  font-size: 62.5%;
  
  --bar-color: #A27229;
  --body-color: #CEC8C8;
  --text-color: whitesmoke;
  --bar-wrap-back-color: #fddb80;
}
button{
    cursor: pointer;
}
button:focus{
    outline: none;
}


.status-info {
  display: flex;
  flex-direction: column;
}

.container{
    width: 100%;
}
.bar-wrap {
  padding: 0.4vw;
  margin-top: 2vh;
  width: 60vw;
  border-radius: 100px;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: var(--bar-wrap-back-color);
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -50%);
  
}

.bar {
  width: 0%;
  height: 1.2vh;
  padding: 1.3vw;
  transition: width .15s ease-out;
  
  background-color: var(--bar-color);
  border-radius: 100px;
  box-shadow: inset -1px -1px 10px rgba(221, 184, 0, 0.8);
}

.percentage {
    position: fixed;
    left: 93%;
    top: 35%;
    transform: translate(-50%, -50%);
    margin: 10px 0 25px;
    font-size: clamp(1.8rem, 3.5vw, 2.6rem);
    color: var(--text-color);
}

/*coins*/

#coins{
    width: 30%;
    height: 5%;
    font-size: 4.5vw;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 5%;
    z-index: 12;
}
#coinImg{
    width: 7vw;
    height: auto;
}
#amount{
    margin-left: 0.5vw;
    margin-bottom: -1vh;
    color: whitesmoke;
}

/*hint button*/
#hintBtn{
    position: fixed;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 5;
    left: 93%;
    top: 1%;
}

#hintBtnADMIN{
    position: fixed;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 5;
    left: 85%;
    top: 1%; 
}

ion-icon {
    font-size: 64px;
    color: whitesmoke;
  }

#footerOptions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0%;
    transform: translate(0%, -10%);
    z-index: 10;
    left: 0;
}
#footerOptions button{
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
}
#settingsBtn{
    position: fixed;
    left: 0%;
    margin-left: 2vw;
    margin-top: -15vh;
}
#sound{
    position: fixed;
    right: 0%;
    margin-right: 2vw;
}
#homeBtn{
    margin-left: 2vw;
}

/*LEVEL1*/
#level1{
    display: block;
}
#rect{
    display: block;
    width: 15vw;
    height: 60vh;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

area{
    cursor: pointer
}
#equationLvl1 h4{
    position: fixed;
    font-size: 4vw;
    background-color: rgba(114, 105, 98, 0.4);
    backdrop-filter: blur(5rem);
    height: 7vh;
    width: 50vw;
    text-align: center;
    max-width: 50vw;
    border-radius: 2rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
}
#options h3{
    position: fixed;
    font-size: 4vw;
    background-color: #5b5654;
    width: 22vh;
    height: 10vh;
    text-align: center;
    border-radius: 2rem;
    padding-top: 1vh;
    cursor: pointer;
}
#op1{
    left: 4vw;
    bottom: 49vh;
}
#op2{
    left: 23vw;
    top: 9vh;
}
#op3{
    right: 23vw;
    top: 21vh;
}
#op4{
    right: 3vw;
    top: 51vh;
}
#op5{
    right: 23vw;
    bottom: 5.3vh; 
}


/*LEVEL2*/
body{
    background-image: url("../src/img/rooms/level1/bg1Lvl1.svg");
    display: block; 
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    background-position: center center;

}
#level2{
    display: none;
}
#before{
    display: block;
}


#stairs{
    width: 25vw;
    position: absolute;
    bottom: 0.5vw;
    right: 20vw;
    z-index: 1;
}
/* stairs when organized 
#step1{
    width: 15vw;
    position: absolute;
    bottom: 22.9vw;
    right: 25vw;
}

#step2{
    width: 23vw;
    position: absolute;
    bottom: 6.5vw;
    right: 21vw;
    z-index: 2;
}

#step3{
    width: 14vw;
    position: absolute;
    bottom: 16.5vw;
    right: 23vw;
    z-index: 2;
}

#piece1{
    width: 10.5vw;
    position: absolute;
    bottom: 16.5vw;
    right: 31vw;
    z-index: 1;
}
#piece2{
    width: 8vw;
    position: absolute;
    bottom: 0vw;
    right: 23vw;
    z-index: 2;
}
*/
#step1{
    width: 15vw;
    height: 15vw;
    position: absolute;
    bottom: -7vh;
    right: 60vw;
    transition: bottom 0.5s ease, right 0.5s ease;
    cursor: pointer;
}

#step2{
    width: 23vw;
    position: absolute;
    bottom: 3vh;
    right: 75vw;
    z-index: 0;
    transition: bottom 0.5s ease, right 0.5s ease;
    cursor: pointer;
}
#fixedStep{
    display: none;
    width: 19vw;
    position: absolute;
    bottom: 34.5vh;
    right: 23vw;
    z-index: 5;
    transition: bottom 0.5s ease, right 0.5s ease;
    cursor: pointer;
}
#step3{
    width: 14vw;
    position: absolute;
    bottom: 3vh;
    right: 45vw;
    z-index: 20;
    cursor: pointer;
}

#piece1{
    width: 10.5vw;
    position: absolute;
    bottom: 2vh;
    right: 8vw;
    z-index: 20;
    cursor: pointer;
}
#piece2{
    width: 8vw;
    position: absolute;
    bottom: 1vh;
    left: 22vw;
    z-index: 20;
    cursor: pointer;
}

/*challenge 2 level 2*/
#objectsChall{
    display: none;
}
#backBtn{
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 40%;
}
#forwardNoStepPieces{
    display: none;
    background: none;
    border: 0;
    color: red;
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 40%;  
}
#forwardBtn{
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 40%;   
}
#step{
    width: 30vw;
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    z-index: 3;
    cursor: pointer;
}
#rightPiece{
    width: 21vw;
    position: absolute;
    bottom: 5vw;
    right: 18vw;
    z-index: 2;
    cursor: pointer;
}
#wrongPiece{
    width: 13vw;
    position: absolute;
    bottom: 0vw;
    right: 80vw;
    z-index: 1;
    cursor: pointer;
}
#objectsChall p{
    font-size: 1.5vw;
    color: black;
    background-color: whitesmoke;
    width: 4vw;
    text-align: center;
    border-radius: 2rem;
    position: fixed;
    z-index: 5;
}

#width{
    right: 24.5vw;
    bottom: 0;
}
#height{
    right: 30vw;
    bottom: 3.6vh;  
}
#hypotenuse1{
    right: 29vw;
    bottom: 15vh;  
}
#hypotenuse2{
    left: 9.2vw;
    bottom: 3vh;  
}

#stepFixed{
    display: none;
    width: 42vw;
    position: absolute;
    bottom: 0vh;
    right: -5vw;
    z-index: 1;
    cursor: pointer;
}

/*challenge 3 level 2*/

#chest{
    display: none;
    cursor: pointer;
    width: 35vw;
    height: 12vh;
    position: fixed;
    bottom: 2vh;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, 0%);
}
#doorClosed{
    display: none;
    cursor: pointer;
    width: 23vw;
    height: 70vh;
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0%); 
}
#key{
    display: none;
    cursor: pointer;
    width: 8vw;
    height: 12vh;
    position: fixed;
    bottom: 5%;
    left: 51%;
    transform: translate(-50%, 0%); 
}
#doorOpen{
    display: none;
    cursor: pointer;
    width: 23vw;
    height: 70vh;
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0%); 
}
/*Level 3*/
#level3{
    display: none;
}
.pianoPieces{
    position: fixed;
    width: 3vw;
    cursor: pointer;
}
#pPiece1{
    bottom: 20vh;
    right: 30vw;
}

#pPiece2{
    bottom: 48vh;
    right: 26vw;
    transform: rotate(90deg);
}

#pPiece3{
    top: 33vh;
    right: 26vw;
    transform: rotate(180deg);
}
#pPiece4{
    top: 35vh;
    right: 20vw;
    transform: rotate(270deg);
}
#pPiece5{
    top: 35vh;
    right: 22vw;
    transform: rotate(270deg);
}
#pPiece6{
    bottom: 18vh;
    left: 13vw;
    transform: rotate(240deg);
}

#inventory{
    display: none;
    background-color: rgba(104, 97, 181, 0.2);
    backdrop-filter: blur(1rem);
    width: 40vh;
    height: 15vh;
    position: fixed;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, 0%);
    border-radius: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#containerPiano{
    width: 13vh;
    background-color: rgba(27, 23, 37, 0.5);
    height: 12vh;
    border-radius: 2rem;
    align-items: center;
}
#pianoPieceInventory{
    display: none;
    width: 5vw;
    margin-left: 0.5vw;
    margin-top: 0.5vh;
}
#inventory p{
    margin-top: 4vh;
    font-size: 10dvb;
}

#piano{
    display: none;
    cursor: pointer;
    width: 25vw;
    height: 30vh;
    position: fixed;
    bottom: 10%;
    left: 30%;
    transform: translate(-50%, -50%); 
}

#submeterPercentagem{
    display: none;
    color: whitesmoke;
    font-size: 2.3vw;
	padding: 0em 1em;
    height:8vh;
    box-shadow: inset;
	border-radius: 2.5em;
    background-color: #16680F;
    border: none;
    position: fixed;
    left: 30vw;
    top: 14vh;

}
#answlvl3 input{
    display: none;
    background-color: rgb(84, 84, 84);
    border: 0;
    color: whitesmoke;
    font-size: 3.5vw;
    border-radius:3rem;
    padding-left: 2vw;
    position: fixed;
    left: 12vw;
    top: 12vh;
    width: 15vw;
}
#percentagemPiano:focus{
    outline: none;
}
#exitPiano{
    display: none;
    cursor: pointer;
    width: 10vw;
    height: 80vh;
    position: fixed;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, -20%); 
}

/* modal buy hints*/

.modalBuy {
    background-color: #657D55;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%) scale(1);
    width: 40%;
    max-width: 40%;
    padding: 1.2rem;
    border-radius: 3rem;
    height: 50%;
    transition: 200ms ease-in-out;
    z-index: 5;
}

ion-icon {
    font-size: 5vw;
    color: #F4F3FF;
}

.modal-head h1{
    position: fixed;
    text-align: center;
    left: 25%;
    font-size: 5vw
}


.modal-body h3{
    position: fixed;
    left: 55%;
    top: 57%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    font-size: 3vw;
}
#btns{
    width: 80%;
    position: fixed;
    position: fixed;
    left: 10%;
    top: 70%;
    display: flex;
    justify-content: space-between;

}



#btns button{
	color: whitesmoke;
    font-size: 2.3vw;
	padding: 0em 1em;
    height:8vh;
    box-shadow: inset;
	border-radius: 2.5em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		background 150ms cubic-bezier(0, 0, 0.58, 1);
}
#btnBuy{
	background: #E0A968;
    border: 2px solid #E0A968;
}
#btnExit{
    background: #9D1919;
    border: 2px solid #9D1919;
}


#btns button::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
#btnBuy::before{
    background: #F67035;
    box-shadow: 0 0 0 2px #F67035, 0 0.625em 0 0 none;
}
#btnExit::before{
    background: #5A0000;
    box-shadow: 0 0 0 2px #5A0000, 0 0.625em 0 0 none;
}
#btns button:hover {
	
	transform: translate(0, 0.25em);
}
#btnBuy:hover{
    background: #E0A968;
}
#btnExit:hover{
    background: #9D1919;
}
#btns button:hover::before {
  backdrop-filter: blur(5rem) !important;
	transform: translate3d(0, 0.5em, -1em);
}
#btnBuy:hover::before{
    box-shadow: 0 0 0 2px #F67035, 0 0.5em 0 0  none;
}
#btnExit:hover::before{
    box-shadow: 0 0 0 2px #5A0000, 0 0.5em 0 0  none;
}
#btns button:active {
	transform: translate(0em, 0.75em);
    outline: none;
}
#btnBuy:active{
    background: #E0A968;
}
#btnExit:active{
    background: #9D1919;
}
#btns button:active::before {
	transform: translate3d(0, 0, -1em);
    
}
#btnBuy:active::before{
    box-shadow: 0 0 0 2px rgb(133, 133, 133), 0 0 #F67035;
}
#btnExit:active::before{
    box-shadow: 0 0 0 2px rgb(133, 133, 133), 0 0 #5A0000;
}




/*hint modal*/

.modalHint{

    background-color: #657D55;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%) scale(1);
    width: 40vw;
    max-width: 40vw;
    padding: 1.2rem;
    border-radius: 3rem;
    height: 50vh;
    transition: 200ms ease-in-out;
    z-index: 6;
}



.modalHint-head h1{
    position: fixed;
    text-align: center;
    font-size: 4.3vw;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -10%);
}

.modalHint-body{
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;
    background-color: #CFB265;
    border-radius: 3rem;
    padding: 2vw;
    padding-top: 2vw;
    text-align: center;
}



.modalHint-body h3{
    font-size: 2.3vw;
}

#closeHint{
    position: fixed;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 11;
    left: 80%;
    top: 1%;
}
.modalNoMoney.active{
    transform: translate(-45%, -50%) scale(1);

}

.modalNoMoney{
    background-color: rgba(171, 63, 63, 0.6);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%) scale(0);
    width: 40%;
    max-width: 40%;
    padding: 1.2rem;
    border-radius: 3rem;
    height: 50%;
    transition: 200ms ease-in-out;
}

.modal-headMoney h1{
    position: fixed;
    text-align: center;
    left: 0%;
    font-size: 4.3vw;
}
.close-modalMoney{
    position: fixed;
    background: none;
    width: 10vw;
    height: 10vh;
    border: 0;
    margin-right: 2vw;
    outline: none;
    cursor: pointer;
    z-index: 11;
    left: 90%;
    top: 2%;
}

.modal-bodyMoney{
    position: fixed;
    left: 55%;
    top: 85%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
}

.modal-bodyMoney h3{
    font-size: 2.3vw;
}


#noMoneyBtn{
    position: fixed;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 11;
    left: 80%;
    top: 1%;
}

/*Admin hint settings*/
.modalHintAdmin.active{
    display: block;
    transform: translate(-45%, -50%) scale(1);
}
.modalHintAdmin{
    position: fixed;
    display: none;
    transform: translate(-45%, -50%) scale(0);
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: #CFB265;
    border-radius: 3rem;
    padding: 2vw;
    padding-top: 2vw;
    text-align: center;
    z-index: 20;
    transition: 200ms ease-in-out;

}
.carousel-item{
    align-items: center;
    height: 70vh;
}
.carousel-item h3{
    font-size: 3vw;
}
.pistas{
    width: auto;
    height: 40vh;
    margin: auto;
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;

}
.pista{

    background-color: rgba(101, 125, 85, 0.6);
    width: 20vw;
    height: 50vh;
    border-radius: 3rem;
    padding: 20px;
}


#btnSettingsAdmin{
    width: 40vw;
    justify-content: space-around;
    display: flex;
    position: fixed;
    left: 10%;
    bottom: 7vh;
}
#btnSettingsAdmin button{
	color: whitesmoke;
    font-size: 2.3vw;
	padding: 0em 1em;
    height:8vh;
    box-shadow: inset;
	border-radius: 2.5em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
	background 150ms cubic-bezier(0, 0, 0.58, 1);
}
#editBtnAdmin{
	background: #529AC2;
    border: 2px solid #529AC2;
}
#saveBtnAdmin{
    background: #53A04C;
    border: 2px solid #53A04C;
}


#btnSettingsAdmin button::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
#editBtnAdmin::before{
    background: #2A6E95;
    box-shadow: 0 0 0 2px #2A6E95, 0 0.625em 0 0 none;
}
#saveBtnAdmin::before{
    background: #16680F;
    box-shadow: 0 0 0 2px #16680F, 0 0.625em 0 0 none;
}
#btnSettingsAdmin button:hover {
	
	transform: translate(0, 0.25em);
}
#editBtnAdmin:hover{
    background: #529AC2;
}
#saveBtnAdmin:hover{
    background: #53A04C;
}
#btnSettingsAdmin button:hover::before {
  backdrop-filter: blur(5rem) !important;
	transform: translate3d(0, 0.5em, -1em);
}
#editBtnAdmin:hover::before{
    box-shadow: 0 0 0 2px #2A6E95, 0 0.5em 0 0  none;
}
#saveBtnAdmin:hover::before{
    box-shadow: 0 0 0 2px #16680F, 0 0.5em 0 0  none;
}
#btnSettingsAdmin button:active {
	transform: translate(0em, 0.75em);
    outline: none;
}
#editBtnAdmin:active{
    background: #529AC2;
}
#saveBtnAdmin:active{
    background: #53A04C;
}
#btnSettingsAdmin button:active::before {
	transform: translate3d(0, 0, -1em);
    
}
#editBtnAdmin:active::before{
    box-shadow: 0 0 0 2px rgb(133, 133, 133), 0 0 #2A6E95;
}
#saveBtnAdmin:active::before{
    box-shadow: 0 0 0 2px rgb(133, 133, 133), 0 0 #16680F;
}


/*Settings modal*/
.modalSettings{
    display: block;
    background-color: #657D55;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%) scale(0);
    width: 60vw;
    max-width: 60vw;
    padding: 1.2rem;
    border-radius: 3rem;
    height: 75vh;
    transition: 200ms ease-in-out;
    z-index: 6;
}
.modalSettings.active{
    transform: translate(-45%, -50%) scale(1);
}

.modalSettings-head h1{
    position: fixed;
    font-size: 4.3vw;
    position: fixed;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -10%);
}

.modalSettings-body{
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    background-color: #657D55;
    border-radius: 3rem;
    padding: 2vw;
    padding-top: 2vw;
    text-align:justify;
}


.questions{
    display: flex;
    margin-left: 5vw;
    margin-top: 3vh;
}
.modalSettings-body h3{
    font-size: 2.3vw;
    text-decoration: underline;
    margin-right: 2vw;
}
.modalSettings-body h4{
    font-size: 2vw;
}
.modalSettings-body input{
    background-color: #CFB265;
    border: 0;
    color: whitesmoke;
    padding-left: 1vw;
    font-size: 2vw;
    border-radius:3rem;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: -1vh;
}
#time {
    width: 5vw;
    height: 6vh;
}
#challenge{
    width: 25vw;
    height: 6vh;
}
.optionsQuestions{
    width: 5vw;
    height: 6vh;
}
#rightAnsw{
    width: 5vw;
    height: 6vh;
}
.modalSettings-body input:focus{
    outline: none;
}

#closeSettings, #closeHintAdmin{
    position: fixed;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 11;
    right: 5%;
    top: 1%;
}
#btnSettings{
    width: 40vw;
    justify-content: space-around;
    display: flex;
    position: fixed;
    left: 15%;
    bottom: 3vh;
}
#btnSettings button{
	color: whitesmoke;
    font-size: 2.3vw;
	padding: 0em 1em;
    height:8vh;
    box-shadow: inset;
	border-radius: 2.5em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
	background 150ms cubic-bezier(0, 0, 0.58, 1);
}
#editBtn{
	background: #529AC2;
    border: 2px solid #529AC2;
}
#saveBtn{
    background: #53A04C;
    border: 2px solid #53A04C;
}


#btnSettings button::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
#editBtn::before{
    background: #2A6E95;
    box-shadow: 0 0 0 2px #2A6E95, 0 0.625em 0 0 none;
}
#saveBtn::before{
    background: #16680F;
    box-shadow: 0 0 0 2px #16680F, 0 0.625em 0 0 none;
}
#btnSettings button:hover {
	
	transform: translate(0, 0.25em);
}
#editBtn:hover{
    background: #529AC2;
}
#saveBtn:hover{
    background: #53A04C;
}
#btnSettings button:hover::before {
  backdrop-filter: blur(5rem) !important;
	transform: translate3d(0, 0.5em, -1em);
}
#editBtn:hover::before{
    box-shadow: 0 0 0 2px #2A6E95, 0 0.5em 0 0  none;
}
#saveBtn:hover::before{
    box-shadow: 0 0 0 2px #16680F, 0 0.5em 0 0  none;
}
#btnSettings button:active {
	transform: translate(0em, 0.75em);
    outline: none;
}
#editBtn:active{
    background: #529AC2;
}
#saveBtn:active{
    background: #53A04C;
}
#btnSettings button:active::before {
	transform: translate3d(0, 0, -1em);
    
}
#editBtn:active::before{
    box-shadow: 0 0 0 2px rgb(133, 133, 133), 0 0 #2A6E95;
}
#saveBtn:active::before{
    box-shadow: 0 0 0 2px rgb(133, 133, 133), 0 0 #16680F;
}


.wrapper{
    display: none;
    width: 60vw;
    background: rgba(101,125,85, 0.8);
    backdrop-filter: blur(1rem);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    color: whitesmoke;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapper h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
  }
  .wrapper .content{
    margin: 25px 25px 35px;
  }
  .content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .inputs input{
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    background: none;
    pointer-events: none;
    text-transform: uppercase;
    border: 1px solid #B5B5B5;
  }
  .typing-input {
    opacity: 0;
    z-index: -999;
    position: absolute;
    pointer-events: none;
  }
  .inputs input:first-child{
    margin-left: 0px;
  }
  .content .details{
    margin: 20px 0 25px;
  }
  .details p{
    font-size: 19px;
    margin-bottom: 10px;
    color: whitesmoke;
  }

  @media screen and (max-width: 460px) {
    .wrapper {
      width: 100%;
    }
    .wrapper h1{
      font-size: 22px;
      padding: 16px 20px;
    }
    .wrapper .content{
      margin: 25px 20px 35px;
    }
    .inputs input{
      height: 51px;
      width: 50px;
      margin: 3px;
      font-size: 22px;
    }
    .details p{
      font-size: 17px;
    }

  }

  #clickFlower{
    display: block;
    cursor: pointer;
    width: 3vw;
    height: 10vh;
    position: fixed;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);
}

/*modal win*/

.modalWin {
    background-color:  rgba(207, 244, 60, 0.4);
    backdrop-filter: blur(5rem);
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-45%, -50%) scale(0);
    width: 53vw;
    max-width: 53vw;
    padding: 1.2rem;
    border-radius: 3rem;
    height: 30vh;
    transition: 200ms ease-in-out;
    z-index: 5;
    text-align: center;
}
.modalWin.active{
    transform: translate(-45%, -50%) scale(1);
}
ion-icon {
    font-size: 5vw;
    color: #F4F3FF;
}

.modal-headWin h1{
    position: fixed;
    font-size: 5vw;
    left: 6%;
    top: 13%
}


.modal-bodyWin h3{
    position: fixed;
    left: 48%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    font-size: 3vw;
}
#closeWin{
    position: fixed;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 11;
    right: 2%;
    top: 1%;
}
